section.jel-features
  .container
    h2.jel-features__headline WSK-Kaffehadnel
    .row.jel-features__icons
      .col-xs-12.col-sm-6.col-lg-2.offset-lg-1.offset-sm-0
        img.img-fluid(src= baseUrl + 'images/features/icon-individuelles-unternehmensprofil.svg')
        | Individuelles 
      .col-xs-12.col-sm-6.col-lg-2
        img.img-fluid(src= baseUrl + 'images/features/icon-unbegrenzte-anzeigenschaltung.svg')
        | Solid
      .col-xs-12.col-sm-6.col-lg-2
        img.img-fluid(src= baseUrl + 'images/features/icon-einfache-anzeigenverwaltung.svg')
        | Einfache 
      .col-xs-12.col-sm-6.col-lg-2
        img.img-fluid(src= baseUrl + 'images/features/icon-komfortables-bewerbermanagement.svg')
        | Komfortables
      .col-xs-12.col-sm-6.col-lg-2
        img.img-fluid(src= baseUrl + 'images/features/icon-kompetente-beratung.svg')
        | Kompetente Serviceberatung
