section.jel-network-trust#kontakt
  .container
    h2.jel-network-trust__headline Kontakt
    .row
      .col-md-6
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84410.34266455514!2d12.40750178677163!3d48.61322726073886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47758331071242bd%3A0x9d36e4a8964aa09!2s84130+Dingolfing!5e0!3m2!1spl!2sde!4v1479286740392' width="450" height="450" frameborder="0" style="border:0" allowfullscreen)
      .col-md-6
        .form-group
          label(for='form_email') Email
          input.form-control(type='name', name='name' placeholder='E-mail')
        .form-group
          label(for='form_message') Message 
          textarea.form-control(id="form_message" name="message" placeholder="Message for me *" rows="8" required="required" data-error="Please,leave us a message.")
