include ../_modules/product/product-even
include ../_modules/product/product

section#regional.jel-product.jel-product--first
  +product('product_1.jpg', 'Gewichtskontrolle', '100% Natural')
    | •	Hemmt den Appetit. Schnelleres und anhaltendes Sättigungsgefühl. Hilft die Essgewohnheiten zu verbessern. <br>
    | •	Vermeidung des Jo-Jo-Effektes nach dem Gewichtsverlust aufgrund der veränderten Essgewohnheiten. <br>
    | •	Erhöht den Stoffwechsel, Muskelaufbau und die Fettverbrennung 
section.jel-product.jel-product--even
  +product-even('product_2.jpg', 'Hautpflege', 'Strafft die Haut', 'jel-product__content--vertical-center')
    | •	Wirkungsvolles Antioxidans <br>
    | •	Eine Quelle von Vitaminen und Nahrungsergänzungs-mitteln in einem (C, B1, B2, B3), Mineralstoffe & Kalzium, Magnesium, Eisen, Kupfer und Zink <br>
section.jel-product
  +product('product_3.jpeg', 'Wohlbefinden', 'Allergie- und Erkältung-Prävention', 'jel-product__content--vertical-center')
    | •	Verbesserung von Gesundheit und Abwehrkräften. <br>
    | •	Unterstützt das geistige und physische Wohlbefinden. <br>
    | •	Stärkt das Immunsystem. <br>
    | •	Gegen hohen Blutdruck und Blutzucker, bei Augenproblemen

section.jel-product.jel-product--even
  +product-even('support.jpg', 'Entschlackung', 'Gleichgewicht des Körpers', 'jel-product__content--vertical-center')
    | •	Hilft Giftstoffe auszuscheiden. Antioxidantien verringern Mundgeruch und wunde Stellen im Mund wie Aphten. <br>
    | •	Unterstützt das Gleich-gewicht im Darm. Verringert Verstopfung, Hämorrhoiden und erleichtert den Stuhlgang.
