include ../_modules/testimonial/testimonial

section.jel-testimonials#testimonials
  .container
    h2.jel-testimonials__headline
      | Wir lieben unsere Kunden.
      br
      | Und unsere Kunden lieben uns.
    .row
      .col-xs-12.col-sm-6.col-md-4
        .card
          img(class="img-fluid" src='images/testimonials/Blum_Wolfgang.jpg')
          .card-block
            h5 Wolfgang Blum
            .card-text.text-muted
              | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
              | Ganz ehrlich es ist wirklich ein tolles Produkt.
              
      .col-xs-12.col-sm-6.col-md-4
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.

      .col-xs-12.col-sm-6.col-md-4
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
        +testimonial('Wolfgang Blum', '')
          | Die Schlafprobleme sind so gut wie vorbei, meine Haare haben sich wieder vermehrt und die Fingernägel wachsen schneller.
