section.jel-trust#about
  .container
    h2.jel-network__headline Über uns
    h4 Donec accumsan lacinia lacus quis elementum. Nullam et aliquet quam. Etiam eleifend nisl ut risus molestie, eget aliquam justo porta. Sed feugiat tincidunt vehicula. Maecenas consequat, diam sed volutpat accumsan, arcu lectus fermentum diam, nec consectetur ante metus sed tellus. Aliquam ac posuere justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis tellus ornare, dictum ipsum vel, convallis arcu.
