nav#navbar.navbar.navbar-light.navbar-fixed-top.flex-items-xs-center
  .row
    .col-md-4.col-xs-12
      .row
        .col-xs-6
          a.navbar-brand(href="#")
            img(src=baseUrl + 'images/logo.jpg')
        .col-xs-2
          button.navbar-toggler.pull-sm-right.hidden-md-up &#9776;
    .col-md-8
      .collapse.navbar-toggleable-sm
        ul.nav.navbar-nav.pull-md-right
          li.nav-item.hidden-md-down
            span.tag.tag-info.tag-pill
              | &#9742;
              | 0151-46606549 		
          li.nav-item
            a.btn.btn-warning(href="#about") Über uns		
          li.nav-item
            a.btn.btn-warning(href="#regional") Die Wirkung							
          li.nav-item
            a.btn.btn-warning(href="#preise") Preise
          li.nav-item
            a.btn.btn-warning(href="#testimonials") Unsere Kunden
          li.nav-item
            a.btn.btn-warning(href="#kontakt") Kontakt
