footer.footer
  .container
    .row
      .col-xs-12.col-md-6
        h5 Social Media
        ul
          li
            a(href="https://www.facebook.com/")
              i.fa.fa-facebook.fa-2x.m-r-1.m-b-1
              | Facebook
          li
            a(href="https://www.youtube.com")
              i.fa.fa-youtube.fa-2x.m-r-1.m-b-1
              | Youtube
          li
            a(href="https://instagram.com")
              i.fa.fa-instagram.fa-2x.m-r-1.m-b-1
              | Instagram
      .col-xs-12.col-md-6
        h5 Fragen Sie unsere Experten!
        p Wenden Sie sich bitte an uns, wenn Sie Fragen haben oder Hilfe benötigen.
        .footer__contact
          strong 0151-46606549 
          br
          small
            a(href="mailto:info@wsk-kaffehandel.de") info@wsk-kaffehandel.de
  hr
  .text-xs-center
    img(src= baseUrl + 'images/logo-footer.png')
