extends _layouts/base

block content
  include ./index/banner
  include ./index/trust
  include ./index/products
  include ./index/features
  include ./index/network
  include ./index/testimonials
  include ./index/network-trust
